# Python virtual environment
resume-ml-env/
venv/
env/

# Python packages and libraries
*.pyd
*.dll
*.so
*.dylib
*.h5
*.pkl
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data files
data/*.csv
*.csv

# Git related
.git/
git/

# Cache files
__pycache__/
*.py[cod]
.Python
*.pyc

# TensorFlow and large model files
**/tensorflow/
**/torch/
**/models/
*.model
*.h5
*.pth

# IDE specific files
.vscode/
.idea/